@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #fbf8f5;
  font-family: Roboto;
  font-weight: 400;
}

/*######################################## HEADER ########################################*/
header {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

header > nav {
  margin-top: 33px;
  width: 148px;
  display: flex;
  justify-content: space-between;
}

header > nav > a {
  text-decoration: none;
  color: #000000;
}

header > nav:first-child {
  width: 33%;
  margin-left: 50px;
}
header > nav:last-child {
  width: 30%;
}

header > img {
  margin-top: 31px;
}

/*/*######################################## Section 1 /*########################################*/
