@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: #c6cad1;
}

main {
  padding-bottom: 120px;
  background-color: #fbf8f5;
}

/*######################################## HEADER ########################################*/
header {
  background-color: #fbf8f5;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

header > nav {
  margin-top: 33px;
  width: 148px;
  display: flex;
  justify-content: space-between;
}

header > nav > a {
  text-decoration: none;
  color: #000000;
}

header > nav:first-child {
  width: 33%;
}
header > nav:last-child {
  width: 30%;
}

header > img {
  margin-top: 31px;
}

/*######################################## Intro Section /*########################################*/
.introSection {
  display: flex;
  justify-content: space-around;
}

.introSection > div {
  max-width: 523px;
}

.introSection > img {
  margin-top: 18px;
}

.introSection h1 {
  font-size: 64px;
  margin-top: 126px;
}

.introSection h2 {
  font-size: 18px;
  margin-top: 18px;
}

.introSection button {
  font-size: 18px;
  background-color: #e9672b;
  border-radius: 30px;
  width: 154px;
  height: 60px;
  margin-top: 46px;
  margin-left: 9px;
  border: none;

  transition: color, background-color;
  transition-duration: 2s;
}

.introSection button:hover {
  color: aquamarine;
  background-color: darkblue;
}

/*######################################## Room Shop Section /*########################################*/
.roomShopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roomShopSection h2 {
  font-size: 48px;
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
}

.roomShopSection > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.roomBlock {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  box-shadow: 8px 8px 0px;

  transition: color;
  transition-duration: 1s;
}

.roomBlock:nth-child(1) {
  border-color: #e9672b;
  color: #cbc6f4;
}
.roomBlock:nth-child(2) {
  border-color: #225dca;
  color: #e7cb43;
}
.roomBlock:nth-child(3) {
  border-color: #242947;
  color: #a2d4c5;
}
.roomBlock:nth-child(4) {
  border-color: #de4333;
  color: #af4920;
}

.roomBlock:hover {
  color: cyan;
}

.roomBlock p {
  color: black;
  background-color: #ffffff;
  padding: 15px 0px 19px 0px;
  font-size: 17px;
}

/*######################################## Services Section /*########################################*/
.servicesSection {
  background-color: #ffffff;
  margin-top: 71px;
}

.servicesSection > div {
  padding-top: 131px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection > div > h2 {
  text-align: center;
  font-size: 36px;
}

.servicesSection > div > p {
  font-size: 24px;
  text-align: center;
  max-width: 892px;
}

/*######################################## Explore Section ########################################*/
.serviceSection {
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
}

.serviceSection:nth-child(2) {
  margin-top: 32px;
}

.serviceSection > div {
  max-width: 397px;
  margin-top: 89px;
}

.serviceTitle {
  font-size: 36px;
}

.serviceDescrip {
  font-size: 18px;
  margin-top: 20px;
}
.serviceLink {
  margin-top: 33px;
}

.serviceLink > a {
  text-decoration: none;
  font-size: 18px;
  color: #e9672b;
}

/*######################################## Garage Sale ########################################*/
.serviceSection:nth-child(3) {
  margin-top: 64px;
  justify-content: space-between;
}

.serviceSection:nth-child(3) > div {
  max-width: 441px;
  margin-top: 175px;
  margin-right: 92px;
}

.serviceDescrip + p {
  font-size: 18px;
  margin-top: 26px;
}
/*######################################## Garage Sale ########################################*/
.serviceSection:nth-child(4) > div {
  max-width: 438px;
}

/*######################################## Garage Sale ########################################*/
.serviceSection:nth-child(5) {
  justify-content: space-between;
}

.serviceSection:nth-child(5) > div {
  max-width: 425px;
  margin-top: 153px;
  margin-right: 108px;
}
