@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: #c6cad1;
}

main {
  padding-bottom: 120px;
  background-color: #fbf8f5;
}

/*######################################## HEADER ########################################*/
header {
  background-color: #fbf8f5;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

header > nav {
  margin-top: 33px;
  width: 148px;
  display: flex;
  justify-content: space-between;
}

header > nav > a {
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

header > nav:first-child {
  width: 33%;
}
header > nav:last-child {
  width: 30%;
}

header > img {
  margin-top: 31px;
}

/*######################################## Intro Section /*########################################*/
.introSection {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

.introSection > div {
  max-width: 523px;
  margin-left: 90px;
}

.introSection > img {
  margin-right: 15px;
}

.introSection h1 {
  line-height: 76px;
  font-size: 64px;
  margin-top: 104px;
}

.introSection h2 {
  font-size: 18px;
  margin-top: 18px;
}

.introSection button {
  font-size: 18px;
  background-color: #e9672b;
  border-radius: 30px;
  width: 154px;
  height: 60px;
  margin-top: 46px;
  margin-left: 9px;
  border: none;

  transition: color, background-color;
  transition-duration: 2s;
}

.introSection button:hover {
  color: aquamarine;
  background-color: darkblue;
}

/*######################################## Room Shop Section /*########################################*/
.roomShopSection {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roomShopSection h2 {
  font-size: 48px;
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
}

.roomShopSection > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.roomBlock {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  box-shadow: 8px 8px 0px;

  transition: color;
  transition-duration: 1s;
}

.roomBlock:nth-child(1) {
  border-color: #e9672b;
  color: #cbc6f4;
}
.roomBlock:nth-child(2) {
  border-color: #225dca;
  color: #e7cb43;
}
.roomBlock:nth-child(3) {
  border-color: #242947;
  color: #a2d4c5;
}
.roomBlock:nth-child(4) {
  border-color: #de4333;
  color: #af4920;
}

.roomBlock:hover {
  color: cyan;
}

.roomBlock p {
  color: black;
  background-color: #ffffff;
  padding: 15px 0px 19px 0px;
  font-size: 17px;
}

/*######################################## Services Section /*########################################*/
.servicesSection {
  background-color: #ffffff;
  margin-top: 71px;
  padding-bottom: 223px;
}

.servicesSection > div {
  padding-top: 131px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection > div > h2 {
  line-height: 44px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 14px;
}

.servicesSection > div > p {
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  max-width: 892px;
}

/*######################################## Explore Section ########################################*/
.serviceSection {
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
}

.serviceSection:nth-child(2) {
  margin-top: 32px;
}

.serviceSection > div {
  max-width: 438px;
  margin-top: 89px;
}

.serviceTitle {
  line-height: 44px;
  font-size: 36px;
}

.serviceDescrip {
  font-size: 18px;
  margin-top: 20px;
}
.serviceLink {
  margin-top: 33px;
}

.serviceLink > a {
  text-decoration: none;
  font-size: 18px;
  color: #e9672b;
}

.serviceSection:nth-child(3) {
  margin-top: 64px;
  justify-content: space-between;
}

.serviceSection:nth-child(3) > div {
  max-width: 441px;
  margin-top: 175px;
  margin-right: 92px;
}

.serviceDescrip + p {
  font-size: 18px;
  margin-top: 26px;
}

.serviceSection:nth-child(5) {
  justify-content: space-between;
}

.serviceSection:nth-child(5) > div {
  max-width: 425px;
  margin-top: 153px;
  margin-right: 108px;
}

/*######################################## Bestsellers Section########################################*/
.bestsellersSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestsellersSection > div {
  width: 944px;
}

.bestsellersSection h2 {
  text-align: center;
  margin-top: 112px;
  font-size: 36px;
  line-height: 44px;
}

.bestsellerBlocks {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
}

.bestseller {
  background-color: #ffffff;
  width: 233px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestseller img {
  margin-top: 40px;
}

.bestseller h3 {
  text-align: center;
  margin-top: 31px;
  font-size: 18px;
  max-width: 161px;
}

.bestseller p {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  max-width: 135px;
}

.rentPrice {
  color: #e9672b;
  font-size: 20px;
}

.oldPrice {
  color: #4f4f4f;
}

.shopLink {
  margin-top: 55px;
  text-align: center;
  font-size: 18px;
}

.shopLink > a {
  color: #e9672b;
  text-decoration: none;
}

/*######################################## Floyd Furniture ########################################*/
.floydFurnitureSect {
  margin-top: 144px;
  display: flex;
}

.floydFurnitureSect div {
  background: #e9672b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floydFurnitureSect div > img {
  margin-top: 61px;
}

.floydFurnitureSect div > p {
  margin-top: 27px;
  color: #ffffff;
  font-size: 36px;
  line-height: 44px;
  max-width: 363px;
  text-align: center;
}

.floydFurnitureSect div > button {
  margin-top: 32px;
  font-size: 18px;
  border-radius: 88px;
  width: 272px;
  height: 60px;
  border-style: none;
}
